@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  font-size : 4em;
  font-family : Ubuntu;
}

.plus {
  font-size : 0.5em;
}

.factors {
  color: red;
}

.target {
  color : green;
}
