<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="/style/squaredwars.css">
 <!-- LIBS -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
 <script src="http://yui.yahooapis.com/3.7.2/build/yui/yui-min.js"></script>
 
 <script type="text/javascript" src="/_ah/channel/jsapi"></script>
 <script type="text/javascript" src="/javascript/lib/underscore-min.js"></script>
 <script type="text/javascript" src="/javascript/lib/backbone-min.js"></script>
 <script type="text/javascript" src="/javascript/lib/handlebars-1.0.rc.1.js"></script>
 
 <!-- MAIN -->
 <script type="text/javascript" src="/javascript/squaredwars.js"></script>
 <script type="text/javascript">

    //----------------- channel handling
    function onOpened() {
      console.log('channel opened with token : {{token}}');
    };

    function onMessage(m) {
      console.log('onmessage : ' + m.data);
      var previous = $('#res').html();
      $('#res').html(previous + 'Message reçu : ' + m.data);
    };

    function onError(e) {
      console.log('onerror : ' + e);
    };

    function onClose(m) {
      console.log('onclose : ' + m);
    }

    //--------------- Send function

    function send(message) {
      console.log('sending message as JSON');
      var xhr = new XMLHttpRequest(),
        jsonMessage = {'message' : message};
      xhr.open('POST', '/squaredwars?m=' + JSON.stringify(jsonMessage), true);
      xhr.send();
    };

  $(document).ready(function(){

    //-------- START ??
    GAME.start();

    //-------- Connection
    //le token est celui créé pour le client côté serveur
    channel = new goog.appengine.Channel('{{token}}');
    socket = channel.open();
    socket.onopen = onOpened;
    socket.onmessage = onMessage;
    socket.onerror = onError;
    socket.onclose = onClose;

    //-------- Instanciation models
    GAME.gridModel = new GridModel({
      'grid': {{grid}}
    });

    GAME.resourceStackModel = new ResourceStackModel();
  

    //-------- Intanciation views

    GAME.gridView = new GridView({
      'model' : GAME.gridModel,
      'id' : 'grid-area'
    });

    GAME.gridView.render();

    GAME.resourceStackView = new ResourceStackView({
      model : GAME.resourceStackModel
    });

    GAME.resourceStackView.render();

    GAME.sondesView =  new SondesView();

    //-------- Instanciation collections

    GAME.sondes = new SondesCollection();
    //We're adding a sonde
    GAME.sondes.on('add remove', function() {
      var numberOfSondes= this.length;
      debug('adding a sonde to collection trigger the rendering of the sonde view');
      GAME.sondesView.render(numberOfSondes);
 });

    //-------- EVENTING

    //when the model change, the view is updated
    GAME.resourceStackModel.on('change', function() {
      GAME.resourceStackView.render();
    });

    //-------- TESTS

    //---- sonde creation
    /*var sondeM = new SondeModel();
    _.extend(sondeM, Backbone.Events);

    sondeM.on('sonde:create', function() {
      //the player has enough resources to buy the sonde
      if (GAME.resourceStackModel.subtract(sondeM.get('value'))) {
        debug('sonde created');
        
        GAME.sondes.add()

        //TODO use a specific views for sondes
        var id = Math.floor(Math.random()*1000000); //random numeric ID
        $('#stack-wip').append('<div id="'+id+'">S...</div>'); //add element
        setTimeout(function(){
          //remove element from WIP after 3 seconds
          //and add a new one in USE
          $('#'+id).remove(); 
          $('#stack-use').append('<div id="'+id+'">S !</div>');
        },3000);  
      }
      //the player dont have enough resources
      else {
        alert('not enough $$$ !');
      }
    });*/

    $('#sonde-creation').bind('click',function(){
      //sondeM.trigger('sonde:create');
      if (GAME.resourceStackModel.subtract(VALUES['sonde'])) {
        var randomId = Math.floor(Math.random()*1000000); //random numeric ID
        var sonde = new SondeModel({
          id:randomId
        });

        GAME.sondes.add(sonde); //on 'add', trigger sondesview render function
      }
      else {
       alert('not enough $$$ !'); 
      }
    });

    //----- fog of war
    $('.g-cell').bind('click', function(e) {
      debug('g-cell clicked id: ' + e.target.id);
      if(GAME.sondes.length > 0) {
        var idOfFirst = GAME.sondes.first().id;
        GAME.sondes.remove(idOfFirst);
        $('#'+e.target.id).removeClass('hidden');
      }
      else {
        alert('Dont have any sonde !');
      }
    });
    //-------- /TESTS

   });

    
 </script>

</head>
<body>

  <header class="row-fluid">
    <div class="span6">
      <h1>S Q U A R E D W A R S</h1>
    </div>
    <div class="span5 offset1">
      {{message}}
    </div>
  </header>

  <div class="row-fluid">
    <div id="clock" class="span3"></div>
    <div id="resource-area" class="span6 offset3"></div>
  </div>

  <div class="row-fluid">
    <div id="grid-area" class="span9"></div>
  </div>

  <!-- ANCIENNE SECTION ITEMS-->
  <!--
  <div class="row-fluid">
    <div id="stack-build" class="span1">
      <h2>BUILD</h2>
      <a href="#" id="sonde-creation"><div>S (3)</div></a>
      <div>D (5)</div>
      <div>M (3)</div>
    </div>
    <div id="stack-wip" class="span1">
      <h2>WIP</h2>
    </div>
    <div id="stack-use" class="span1">
      <h2>USE</h2>
      <div id="sondes-area"></div>
    </div>
  </div>
  -->

  <!-- NOUVELLE SECTION ITEMS-->
  <div class="row-fluid">
    <div id="sondes" class="container">
      <a href="#" id="sonde-creation">+</a>
      <div id="sondes-area">
        <!-- ETAT INITIAL DE LA VUE -->
        <div class="item active">S</div>
        <div class="counter">0</div>
      </div>
      
    </div>
    <div class="container">
      <div class="item">D</div>
    </div>
    <div class="container">
      <div class="item">M</div>
    </div>
  </div>


 
 
</body>
<!-- TEMPLATES -->
<!-- TODO : could be externalize, see A. Osmani MVC :
http://bit.ly/RdIW2R -->
<script id="template-resource" type="text/html">
  <div><%= stack %>/30</div>
</script>

<script id="template-sondes" type="text/html">
  <div class="item active">S</div>
  <div class="counter"><%= numberOfSondes %></div>
</script>
</html>