<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="/style/squaredwars.css">
 
 <!-- LIBS -->
 <script type="text/javascript" src="/javascript/lib/jquery-1.8.2.min.js"></script>
 <script type="text/javascript" src="/_ah/channel/jsapi"></script>
 <script type="text/javascript" src="/javascript/lib/underscore-min.js"></script>
 <script type="text/javascript" src="/javascript/lib/backbone-min.js"></script>
 <script type="text/javascript" src="/javascript/lib/handlebars-1.0.rc.1.js"></script>
 <script type="text/javascript" src="/javascript/lib/easeljs-0.5.0.min.js"></script>
 <script type="text/javascript" src="/javascript/lib/mousetrap.min.js"></script>

 <!-- MAIN -->
 <script type="text/javascript" src="/javascript/squaredwars.js"></script>
 <script type="text/javascript">

    //----------------- KEYS HANDLING
    Mousetrap.bind('s', function() {
      GAME.displayMessage('sonde will be used');
    });
    Mousetrap.bind('shift+s', function() {
      GAME.displayMessage('sonde creation');
    });

    //----------------- MESSAGING
    function onOpened() {
      debug('channel opened with token : {{token}}');
    };

    function onMessage(m) {
      debug('onmessage : ' + m.data);
      var action = JSON.parse(m.data);
      if(action.action === "sonde") {
        GAME.displayMessage('sonde built by the other player');
      }
      else if (action.action === "dome") {

      }
      else if (action.action === "missile") {

      }
    };

    function onError(e) {
      debug('onerror : ' + e);
    };

    function onClose(m) {
      debug('onclose : ' + m);
    }

    //--------------- Send function
    /*
    @param sender the player that is sending
    @param action an object describing the action to perform
      {"action" : "sonde"}
      {"action" : "dome", "position" : [nm, from the id of the element]}
      {"action" : "missile", "position" : [nm, from the id of the element]}
    */
    function send(sender, action) {
      debug(sender + 'is sending a message to the other player');
      var xhr = new XMLHttpRequest(),
        action = JSON.stringify(action);
      xhr.open('POST', '/squaredwars/play?sender='+ sender + '&action=' + action, true);
      xhr.send();
    };

  $(document).ready(function(){

    //-------- START ??
    GAME.start();

    // current player is
    var currentPlayer = $('#player-name').text().trim();

    //-------- Connection
    //le token est celui créé pour le client côté serveur
    channel = new goog.appengine.Channel('{{token}}');
    socket = channel.open();
    socket.onopen = onOpened;
    socket.onmessage = onMessage;
    socket.onerror = onError;
    socket.onclose = onClose;

    //-------- Instanciation models

    GAME.gridModel = new GridModel({
      'grid': {{grid}}
    });

    GAME.resourceStackModel = new ResourceStackModel();

    //-------- Intanciation views

    GAME.gridView = new GridView({
      'model' : GAME.gridModel,
      'id' : 'grid-area'
    });

    GAME.gridView.render();

    GAME.resourceStackView = new ResourceStackView({
      model : GAME.resourceStackModel
    });

    GAME.resourceStackView.render();

    GAME.sondesView =  new SondesView();
    GAME.domesView = new DomesView();
    GAME.missilesView = new MissilesView();

    //-------- Instanciation collections

    GAME.sondes = new SondesCollection();
    // We're adding a sonde
    GAME.sondes.on('add remove', function() {
      var numberOfSondes= this.length;
      debug('adding/removing a sonde to collection trigger the rendering of the sonde view');
      GAME.sondesView.render(numberOfSondes);
    });

    GAME.domesStack = new DomesStack();

    GAME.domesStack.on('add remove', function() {
      var numberOfStackedDomes = this.length;
      GAME.domesView.render(numberOfStackedDomes);
    });

    GAME.domesSet = new DomesSet();
    // Adding a dome
    GAME.domesSet.on('add remove', function() {
      var numberOfDomes= this.length;
      debug('adding/removing a dome to domesSet trigger the rendering of the dome view');
      // Non, ici il faudrait une vue pour les domes installés
      //GAME.domesView.render(numberOfDomes);
    });

    // adding the starting dome for each player
    GAME.domesSet.add(new DomeModel()); 

    //-------- EVENTING

    //when the model change, the view is updated
    GAME.resourceStackModel.on('change', function() {
      GAME.resourceStackView.render();
    });

    //-------- ITEMS CREATION

    // Creation of a sonde
    $('#sonde-creation').bind('click',function(){
      //sondeM.trigger('sonde:create');
      if (GAME.resourceStackModel.subtract(GAME.VALUES['sonde'])) {
        var randomId = Math.floor(Math.random()*1000000); //random numeric ID
        var sonde = new SondeModel({
          id:randomId
        });

        GAME.sondes.add(sonde); //on 'add', trigger sondesview render function
        // -GD- sending warning to the other player everytime we make a move
        // like creating a sonde ?
        send(currentPlayer, {"action" : "sonde"});
      } else {
       GAME.displayMessage(GAME.MESSAGES['not-enough-money']); 
      }
    });

    // Creation of a dome
    $('#dome-creation').on('click', function(){
      if(GAME.resourceStackModel.subtract(GAME.VALUES['dome'])) {
        var randomId = Math.floor(Math.random()*1000000); //random numeric ID
        var dome = new DomeModel({
          id : randomId
        });

        GAME.domesStack.add(dome);
        send(currentPlayer, {"action" : "dome"})
      } else {
        GAME.displayMessage(GAME.MESSAGES['not-enough-money']);
      }
    })

    // Creation of a missile

    //----- ACTIONS ON GRID DISPLAY
    // /!\ Should be in GridView logic

    $('.g-cell').bind('click', function(e) {
      debug('g-cell clicked id: ' + e.target.id);

      switch(GAME.actionVerb) {
        case "donothing" : 
          alert("doing nothing in " + e.target.id);
          break;
        // installation d'une sonde du stack
        case "setsonde" :
          if(GAME.sondes.length > 0) {
            var idOfFirst = GAME.sondes.first().id;
            GAME.sondes.remove(idOfFirst);
            $('#'+e.target.id).removeClass('hidden');
          } else {
            GAME.displayMessage('Dont have any sonde !');
          }
            // back to normal state
            GAME.actionVerb = "donothing";
          break;
        // installation d'un dome
        case "setdome" :
          if(GAME.domesStack.length > 0) {
            // si la case est révélée
            var isHidden = $('#'+e.target.id).hasClass('hidden'),
            // si la case est un R
                isR = $('#'+e.target.id).text('R ');
            
            if (!isHidden && isR){
              GAME.displayMessage('Dome being set in ' + e.target.id);
              // TODO removing from domesStack, addind the same domeModel to domesSet
              $('#'+e.target.id).text('D1'); // for player1
            } else {
              GAME.displayMessage('Cant put a dome here !');
            }
          } else {
            GAME.displayMessage('Dont have any domes !');
          }
        
          break;
        // lancement d'un missile
        case "launch-missile" :
          break;
      }
      
    });

  //---------- ACTIONS ON ITEMS
  // AIE ! Marche plus après un premier render ! Le bind se fait sur un élément
  // et disparait avec l'élément ???
  // --> solution : rebind lors du render !
  $('#launcher-sonde').bind('click', function() {
    GAME.displayMessage('actionVerb set to : setsonde');
    GAME.actionVerb = "setsonde";
  });

  $('#launcher-dome').on('click', function() {
    GAME.displayMessage('actionVerb set to : setdome');
    GAME.actionVerb = "setdome";
  });

  $('#launcher-missile').on('click', function() {
    GAME.displayMessage('actionVerb set to : setmissile');
    GAME.actionVerb = "setmissile";
  });

  //---------- Displaying starting dome
  var playerName = $('#player-name').text().trim();
  if (playerName === 'player1') {
    debug('revealing player1 starting dome');
    GAME.gridView.displayStartingDome('player1');
  }
  else if (playerName === 'player2') {
    debug('current player is player2');
    GAME.gridView.displayStartingDome('player2');
  }
  else {
    debug('welcome observer !');
  }

   });
    
 </script>

</head>
<body>

  <header class="row-fluid">
    <div class="span3">
      <h1><a href="/squaredwars">W&#178;</a></h1>
    </div>
    <div id="player-name" class="span3">
      {{player}}
    </div>
    <div id="message-area" class="span5 offset1">
      {{message}}
    </div>
  </header>

  <div class="row-fluid">
    <div id="clock" class="span3"></div>
    <div id="resource-area" class="span6 offset3"></div>
  </div>

  <div class="row-fluid">
    <div id="grid-area" class="span9"></div>
  </div>

  <!-- ITEMS CREATION SECTION -->
  <div class="row-fluid">

    <div id="sondes" class="container span3 offset1">
      <button href="#" id="sonde-creation" class="btn btn-large btn-warning"> + </button>
      <div id="sondes-area">
        <!-- ETAT INITIAL DE LA VUE -->
        <button id="launcher-sonde" class="item btn btn-large btn-info">
          <i class="icon-eye-open icon-white"></i> SONDE
        </button>
        <div class="counter">0</div>
      </div>
    </div>

    <div id="domes" class="container span3 offset1">
      <button href="#" id="dome-creation" class="btn btn-large btn-warning"> + </button>
      <div id="domes-area">
        <!-- ETAT INITIAL DE LA VUE -->
        <button class="item btn btn-large btn-info">
          <i class="icon-map-marker icon-white"></i> DOME
        </button>
        <div class="counter">0</div>
      </div>
    </div>

    <div id="missiles" class="container span3 offset1">
      <button href="#" id="missile-creation" class="btn btn-large btn-warning"> + </button>
      <div id="missiles-area">
        <!-- ETAT INITIAL DE LA VUE -->
        <button class="item btn btn-large btn-info">
          <i class="icon-screenshot icon-white"></i> MISSILE
        </button>
        <div class="counter">0</div>
    </div>

  </div>
 
</body>
<!-- TEMPLATES -->
<!-- TODO : could be externalize, see A. Osmani MVC :
http://bit.ly/RdIW2R -->

<script id="template-resource" type="text/html">
  <div><%= stack %>/<%= winningLimit %></div>
</script>

<script id="template-sondes" type="text/html">
  <button id="launcher-sonde" class="item btn btn-large btn-info">
    <i class="icon-eye-open icon-white"></i> SONDE
  </button>
  <div class="counter"><%= numberOfSondes %></div>
</script>

<script id="template-domes" type="text/html">
  <button id="launcher-dome" class="item btn btn-large btn-info">
    <i class="icon-map-marker icon-white"></i> DOME
  </button>
  <div class="counter"><%= numberOfDomes %></div>
</script>

<script id="template-missiles" type="text/html">
  <button id="launcher-missile" class="item btn btn-large btn-info">
    <i class="icon-screenshot icon-white"></i> MISSILE
  </button>
  <div class="counter"><%= numberOfMissiles %></div>
</script>

</html>