/* 

SQUAREDWARS

*/

body {
  font-size:1em;
  font-family:Verdana;
  color : #643E91;
}

.g-row {
	padding: 0.2em;
	margin  : 0.4em;
}

.g-row:hover {
}

.g-cell {
	display:inline;
  padding:0.2em;
  margin: 0.1em;
  border : 0.2em #FFF solid;
}

.g-cell:hover {
  background-color:#EB352A;
  color: #EB352A;
  border : 0.2em #F5AB7A solid;
}

.hidden {
  background-color: #643E91;
}