<!DOCTYPE html>
<html lang="fr" ng-app>

<head>

<meta charset="utf-8">

<title>J_R</title>

<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="dice.js"></script>
<script src="roarby.js"></script>

<!-- Latest compiled and minified CSS -->
2 <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
3 
4 <!-- Latest compiled and minified JavaScript -->
5 <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>

</head>

<body>
	
	<h1>JUNGLE RUGBY</h1>
	<h5>5 x 5 rugby with <span>angry</span> jungle beasts</h5>
	<h2>APP</h2>

	<div ng-controller="MainController">
		
		<!-- PASSE -->

		<form ng-submit="passer()">

			<h3>Passe</h3>
			<select class="select-block span2" ng-model="passeur" ng-options="animal.nom for animal in animaux">
				<option class="btn-primary" value=""></option>
			</select>
			<select class="select-block span2" ng-model="receveur" ng-options="animal.nom for animal in animaux">
				<option value=""></option>			
			</select>

			<input class="btn btn-primary" type="submit" value="Passe!"/>

		</form>


		<p >La passe est : {{resultatPasse}} </p>

		<!-- COURSE -->

		<form ng-submit="courir()">
			<h3>Course</h3>
			<select class="select-block span2" ng-model="coureur" ng-options="animal.nom for animal in animaux">
				<option class="btn-primary" value=""></option>
			</select>

			<input class="btn btn-primary" type="submit" value="Course!"/>

		</form>

		<p>{{ coureur.nom }} fait une course de {{ resultatCourse }}</p>

		<!-- PLAQUAGE -->
		<form ng-submit="plaquer()">
			<h3>Plaquage</h3>
			<select class="select-block span2" ng-model="plaqueur" ng-options="animal.nom for animal in animaux">
				<option class="btn-primary" value=""></option>
			</select>
			<select class="select-block span2" ng-model="plaque" ng-options="animal.nom for animal in animaux">
				<option class="btn-primary" value=""></option>
			</select>

			<input class="btn btn-primary" type="submit" value="Plaquage!"/>
		</form>

		<p>{{ plaqueur.nom }} {{ resultatPlaquage }} sur {{ plaque.nom }} !</p>


		<br/>


		<!-- LISTE ANIMAUX -->
		<ul>
			<li ng-repeat="animal in animaux">
				{{ animal.nom }} the {{ animal.type }}
				[<span ng-repeat="(nom, niveau) in animal.skills">{{ nom }} : {{ niveau }} </span>]
			</li>
		</ul>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div class="navbar-header">J_R</div>
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li>Règles</li>
				<li>Mise en place</li>
				<li>App</li>
				<li>About</li>
			</ul>
		</div>
	</nav>

</body>

</html>