<!DOCTYPE html>
<html lang="fr" ng-app>

<head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="dice.js"></script>
<script src="roarby.js"></script>

<!-- BOOTSTRAP FROM CDN -->
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
<!-- FLAT UI -->
<link rel="stylesheet" type="text/css" href="flat-ui.css">

</head>

<body>
	
	<h1>ROARBY</h1>
	<h2>helpers</h2>

	<div ng-controller="MainController">
		
		<!-- PASSE -->

		<form ng-submit="passer()">

			<h3>Passe</h3>
			<select class="select-block span2" ng-model="passeur" ng-options="animal.nom for animal in animaux">
				<option class="btn-primary" value=""></option>
			</select>
			<select class="select-block span2" ng-model="receveur" ng-options="animal.nom for animal in animaux">
				<option value=""></option>			
			</select>

			<input class="btn btn-primary" type="submit" value="Passe!"/>

		</form>


		<p >La passe est : {{resultatPasse}} </p>

		<!-- COURSE -->

		<form ng-submit="courir()">
			<h3>Course</h3>
			<select class="select-block span2" ng-model="coureur" ng-options="animal.nom for animal in animaux">
				<option class="btn-primary" value=""></option>
			</select>

			<input class="btn btn-primary" type="submit" value="Course!"/>

		</form>

		<p>{{ coureur.nom }} fait une course de {{ resultatCourse }}</p>


		<br/>

		<ul>
			<li ng-repeat="animal in animaux">
				{{ animal.nom }} the {{ animal.type }}
				<ul>
					<li ng-repeat="(nom, niveau) in animal.skills">{{ nom }} : {{ niveau }}</li>
				</ul>
			</li>
		</ul>

	</div>

</body>

</html>